In [5]:
#python programme to display the students personal details

print("Smart students international personal details")


Name =['Samantha ',
       'Jada     ',
       'Jane     ',
       'Claire   ',
       'Elizabeth',
       'Mary     ',
       'Susan    ',
       'Waje     ',
       'Taibat   ',
       'lilian   ']

Age =  ['17','16','17','18','16','18','17','19','20','17']

Height =  ['5.5','6.0','5.4','5.9','5.6','5.5','6.1','6.2','5.7','5.5']

Score =  ['80','83','70','60','76','66','87','95','50','49']

print("The girls details: ")

for i in range(len(Name)):
    print(Name[i] ,"|", Age[i] ,"|", Height[i] ,"|", Score[i])
    

Name =['Charles ',
       'Jude    ',
       'James   ',
       'Kelvin  ',
       'Biodun  ',
       'Wale    ',
       'Kunle   ',
       'Mathew  ',
       'Tom     ',
       'Kayode  ']

Age =  ['19','16','17','18','20','18','19','18','17','19']

Height =  ['5.7','5.9','5.8','5.9','6.1','5.5','6.1','6.2','5.7','5.5']

Score =  ['74','87','70','68','76','66','87','65','50','49']

print("The Boys details: ")

for i in range(len(Name)):
    print(Name[i] ,"|", Age[i] ,"|", Height[i] ,"|", Score[i])

Smart students international personal details
The girls details:
Samantha  | 17 | 5.5 | 80
Jada      | 16 | 6.0 | 83
Jane      | 17 | 5.4 | 70
Claire    | 18 | 5.9 | 60
Elizabeth | 16 | 5.6 | 76
Mary      | 18 | 5.5 | 66
Susan     | 17 | 6.1 | 87
Waje      | 19 | 6.2 | 95
Taibat    | 20 | 5.7 | 50
lilian    | 17 | 5.5 | 49
The Boys details:
Charles  | 19 | 5.7 | 74
Jude     | 16 | 5.9 | 87
James    | 17 | 5.8 | 70
Kelvin   | 18 | 5.9 | 68
Biodun   | 20 | 6.1 | 76
Wale     | 18 | 5.5 | 66
Kunle    | 19 | 6.1 | 87
Mathew   | 18 | 6.2 | 65
Tom      | 17 | 5.7 | 50
Kayode   | 19 | 5.5 | 49

In [11]:
#python programme to allocate ATR to staff memebers of a company

print("Welcome to FINTECHS")


#for i in range(2500):
E = float(input("Enter your years of experienence: "))
A = float(input("Enter your age: "))

if E > 25 and A>= 55 :
    print("Your annual tax revenue is 5600000 naira")
elif E > 20 and A >= 45 :
    print("Your annual tax revenue is 4480000 naira")
elif E > 10 and A >= 35 :
    print("Your annual tax revenue is 1500000 naira")
elif E < 10 and A < 35 :
    print("Your annual tax revenue is 550000 naira")
else:
    print("you did not meet the requirements")

Welcome to FINTECHS
Enter your years of experienence: 25
Enter your age: 55
Your annual tax revenue is 4480000 naira