In [12]:
import pandas as pd

paudata = {'Student name':["Oluchi Mordi", "Adams Aliyu", "Shania Bolade", "Adekunle Gold", "Bianca Edemoh"],
        'Matric.Number': ["ACC10211111", "ECO10110101", "CSC10328828", "EEE11020202","MEE10202001"],
        'department':["Accounting", "Economics", "Computer", "Electrical","Mechanical"],
          'level':[300, 100, 200, 200, 100]}
  
 
df = pd.DataFrame(paudata)


df.to_csv('paudata.csv')

df

    Student name Matric.Number  department  level
0   Oluchi Mordi   ACC10211111  Accounting    300
1    Adams Aliyu   ECO10110101   Economics    100
2  Shania Bolade   CSC10328828    Computer    200
3  Adekunle Gold   EEE11020202  Electrical    200
4  Bianca Edemoh   MEE10202001  Mechanical    100

In [11]:
import pandas as pd

# Define the company data
company_data = {
    'Company': ['Enron', 'Anderson', 'GK Jones', 'Mica', 'Dune'],
    'Founded': [1987, 1938, 2001, 1996, 2008],
    'Assets': [1000000, 1500000, 3000000, 250000, 800000],
    'Liabilities': [200000, 500000, 1500000, 50000, 300000]
}

# Create a DataFrame from the company data
df = pd.DataFrame(company_data)

# Calculate the leverage percentage
df['Leverage'] = df['Liabilities'] / df['Assets'] * 100

# Save the DataFrame to an Excel file
df.to_excel('company_data.xlsx', index=False)